:root {
  --background-color: #efefef;
  --header-color: #222222;
  --nav-bg-color: #1741ff33;
  --text-color: #ffffff;
  --card-color-bg: #ffffff;
  --card-color-border: #1c1c1c;
  --term-color: #666666;
}
