header {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px 0;
  text-align: center;
}

nav {
  position: sticky;
  top: 0;
  z-index: auto;
  text-align: left;
  background-color: var(--nav-bg-color);
}

nav a {
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  color: var(--text-color);
}

footer {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}
