body {
  font-family: Arial, sans-serif;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

html, body{
  height: 100%;
  margin: 0;
}

main{
  flex: 1;
}

header {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px 0;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--nav-bg-color);
  z-index: 9999;
  padding: 0.75rem;
  box-sizing: border-box;
  height: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  font-size: 1.5rem;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

nav .iconify {
  margin-right: 2px;
}

*, *::before, *::after {
  box-sizing: border-box;
}


footer {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}

img {
  max-height: 100%;
}

.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: calc(20px + 0.75rem) 20px;
  background-color: var(--background-color);
  border-radius: 8px;
  overflow: visible;
  min-height: 100vh;
}


ul {
  list-style-type: circle;
  text-align: left;
  padding: 0;
}

h3 a{
  text-decoration: none;
  color: inherit;
}

.myLinks {
  display: inline-block;
  position: relative;
}

.myLinks::after {
  content: "";
  position: absolute;
}

#work-experience {
  padding-top: 80px !important;
  background-color: var(--background-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#work-experience h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0; 
  padding-bottom: 1.5rem;
  color: var(--header-color);
}

.work-experience-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers children horizontally */
}

.job-card {
  background-color: var(--card-color-bg);
  border: 2px solid var(--card-color-border);
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 900px; 
  width: 100%; 
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.card-header h3 {
  margin: 0;
  color: #333;
}

.company-logo {
  margin: 1rem;
  background-color: var(--card-color-bg);
  max-width: fit-content;
  border-radius: 4px;
}

.company-logo img {
  max-width: 200px; 
  height: auto;
  border-radius: 4px; 
}

.company-info {
  flex: 1; 
}


.company-name {
  font-size: 1rem;
  color: #555;
}

.term {
  font-style: italic;
  color: var(--term-color);
  margin: 0.5rem 0;
}

.responsibilities {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 0;
}

.responsibilities li {
  margin-bottom: 0.5rem;
}

.nested-responsibilities {
  list-style-type: circle;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.nested-responsibilities li{
  width: 50%;
  margin-bottom: 0.5rem;
}

#projects {
  background-color: var(--background-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0; 
  padding-bottom: 1.5rem;
  color: var(--header-color);
}

.project-content{
  margin: 0;
}

.project-entry {
  display: flex;
  margin-bottom: 4rem;
  margin-top: 4rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: visible;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-info {
  flex: 1;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-info h3 {
  margin: 0;
  color: #333;
  font-size: 1.75rem;
}

.project-info .description {
  margin-top: 0.5rem;
  color: #555;
  line-height: 1.6;
}

.project-details {
  margin-top: 1rem;
  padding-left: 1.5rem; /* Adjust for indentation */
  list-style-type: disc; /* Bullet style */
  color: #444;
}

.project-details li {
  margin-bottom: 0.5rem;
}

.project-media {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Optional: for visual separation */
  max-height: 500px;
  position: relative;
}

.project-media img {
  max-width: 100%;
  height: auto;
  overflow: visible;
  object-fit: cover;
}

.project-media video {
  max-width: 100%;
  height: auto;
  overflow: visible;
}
/* Alternate layout */
.project-entry.alternate .project-info {
  order: 2;
}

.project-entry.alternate .project-media {
  order: 1;
}

.image-stack {
  position: relative; 
  width: 100%;
  height: 500px;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-stack img {
  position: absolute; 
  max-height: 100%;
  max-width: 100%;
  width: auto; 
  height: auto; 
  overflow: hidden;
}

.image-foreground {
  left: 60%;
  transform: translate(-10%,15%);
  z-index: 2;
}

.image-bg {
  z-index: 1;
}

/* Button styling */
.project-buttons {
  margin-top: 1rem;
}

.project-buttons .project-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.project-buttons .project-button-primary {
  background-color: #007bff;
  color: #fff;
}

.project-buttons .project-button:hover {
  opacity: 0.5;
}

#about{
  background-color: #f9f9f9;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0; 
  padding-bottom: 1.5rem;
  color: #333;
}